.messy-layout {
  position: relative;
  margin-left: -20px;
  padding-right: 100px;
}

.messy-layout > div:first-child {
  position: absolute;
  left: 50%;
  top: 0;
  width: 45%;
  z-index: 2;
  margin-top: 20px;
}

.messy-layout > div:last-child {
  position: absolute;
  left: 10%;
  top: 50px;
  width: 60%;
  z-index: 1;
  margin-bottom: 30px;
}

.messy-layout::after {
  content: "";
  display: block;
  height: 800px;
}

@media (max-width: 768px) {
  .messy-layout > div:first-child {
    left: 70%;
    width: 80%;
  }
  
  .messy-layout > div:last-child {
    left: 5%;
    width: 90%;
  }
}

